In [2]:
import pandas as pd
import zipfile
import os

In [5]:
def read_data(ano,ds_files):
    zipf = 'consulta_cand_'+ano+'.zip' #2012
    zf = zipfile.ZipFile(ds_files+zipf) 
    first = True

    nl = zipfile.ZipFile.namelist(zf)
    for i in range(0,len(nl)):
        fn = nl[i]
        if 'txt' in fn:
            if not 'BRASIL' in fn:
                print(fn)
                z = pd.read_csv(zf.open(fn),header=None,encoding="iso-8859-1",sep=";",
                    error_bad_lines=False)
                if first:
                    first = False
                    df = z
                else:
                    df = pd.concat([df, z])
    return df

In [111]:
ds_files = 'D:\Dados\OneDrive\Doutorado\Datasets\\tse\\'

In [112]:
len(df)

39520

In [113]:
df08 = read_data('2008',ds_files)
len(df08)

consulta_cand_2008_AC.txt
consulta_cand_2008_AL.txt
consulta_cand_2008_AM.txt
consulta_cand_2008_AP.txt
consulta_cand_2008_BA.txt
consulta_cand_2008_CE.txt
consulta_cand_2008_ES.txt
consulta_cand_2008_GO.txt
consulta_cand_2008_MA.txt
consulta_cand_2008_MG.txt
consulta_cand_2008_MS.txt
consulta_cand_2008_MT.txt
consulta_cand_2008_PA.txt
consulta_cand_2008_PB.txt
consulta_cand_2008_PE.txt
consulta_cand_2008_PI.txt
consulta_cand_2008_PR.txt

D:\Programas\Anaconda3\envs\utils\lib\site-packages\IPython\core\interactiveshell.py:3254: DtypeWarning: Columns (15,17,20,24,29,31,33,35,38,41) have mixed types.Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):

consulta_cand_2008_RJ.txt
consulta_cand_2008_RN.txt
consulta_cand_2008_RO.txt
consulta_cand_2008_RR.txt
consulta_cand_2008_RS.txt
consulta_cand_2008_SC.txt
consulta_cand_2008_SE.txt
consulta_cand_2008_SP.txt

D:\Programas\Anaconda3\envs\utils\lib\site-packages\IPython\core\interactiveshell.py:3254: DtypeWarning: Columns (13,15,17,20,24,29,31,33,35,38,41) have mixed types.Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):

consulta_cand_2008_TO.txt

384532

In [114]:
df12 = read_data('2012',ds_files)
len(df12)

consulta_cand_2012_AC.txt
consulta_cand_2012_AL.txt
consulta_cand_2012_AM.txt
consulta_cand_2012_AP.txt
consulta_cand_2012_BA.txt
consulta_cand_2012_CE.txt
consulta_cand_2012_ES.txt
consulta_cand_2012_GO.txt
consulta_cand_2012_MA.txt
consulta_cand_2012_MG.txt
consulta_cand_2012_MS.txt
consulta_cand_2012_MT.txt
consulta_cand_2012_PA.txt
consulta_cand_2012_PB.txt
consulta_cand_2012_PE.txt
consulta_cand_2012_PI.txt
consulta_cand_2012_PR.txt
consulta_cand_2012_RJ.txt
consulta_cand_2012_RN.txt
consulta_cand_2012_RO.txt
consulta_cand_2012_RR.txt
consulta_cand_2012_RS.txt
consulta_cand_2012_SC.txt
consulta_cand_2012_SE.txt
consulta_cand_2012_SP.txt
consulta_cand_2012_TO.txt

483825

# nc

In [3]:
ds_files = 'D:\Dados\OneDrive\Doutorado\Datasets\\NCVR\\'
file = '18102016'

In [4]:
def read_data(ano,ds_files,nrow=None):
    zipf = 'ncvoter_Statewide_'+ano+'.zip'
    zf = zipfile.ZipFile(ds_files+zipf) 
    first = True

    fn = zipfile.ZipFile.namelist(zf)[0]

    if nrow is None:
        df_chunk = pd.read_csv(zf.open(fn),header=0,encoding="iso-8859-1",sep="\t",
                        usecols=[68,9,10,11,13,14,15,16,29],
                        chunksize=640000000,
                        error_bad_lines=False)
        chunk_list = []  # append each chunk df here 
    
        # Each chunk is in df format
        for chunk in df_chunk:  
            # Once the data filtering is done, append the chunk to list
            chunk_list.append(chunk)

        # concat the list into dataframe 
        z = pd.concat(chunk_list)
    else:
        z = pd.read_csv(zf.open(fn),header=0,encoding="iso-8859-1",sep="\t",
                        usecols=[68,9,10,11,13,14,15,16,29],
                        error_bad_lines=False,nrows=nrow)
    return z

In [53]:
del df

In [5]:
df = read_data(file,ds_files,nrow=10)
# df = read_data(file,ds_files)

In [6]:
len(df)

10

In [7]:
df

,last_name,first_name,middle_name,res_street_address,res_city_desc,state_cd,zip_code,birth_age,ncid
0,AABEL,EVELYN,LARSEN,4430 E GREENSBORO-CHAPEL HILL RD,GRAHAM,NC,27253,80,AA56273
1,AARON,CHRISTINA,CASTAGNA,421 WHITT AVE,BURLINGTON,NC,27215,40,AA98377
2,AARON,CLAUDIA,HAYDEN,1013 EDITH ST,BURLINGTON,NC,27215,71,AA69747
3,AARON,JAMES,MICHAEL,5608 OLD CHEROKEE LN,GRAHAM,NC,27253,68,AA170513
4,AARON,NATHAN,EDWARD,421 WHITT AVE,BURLINGTON,NC,27215,40,AA91549
5,AARON,RICHARD,BRIAN,1013 EDITH ST,BURLINGTON,NC,27215,43,AA125250
6,AARON,SANDRA,ESCOBAR,1013 EDITH ST,BURLINGTON,NC,27215,41,AA181361
7,AARON,WILLIE,DALE,1013 EDITH ST,BURLINGTON,NC,27215,72,AA71983
8,AARONSON,GENA,HOLT,107 TERRYWOOD CT,HAW RIVER,NC,27258,44,AA111384
9,AARONSON,MICHAEL,CHARLES,107 TERRYWOOD CT,HAW RIVER,NC,27258,54,AA145641

In [57]:
df.dtypes
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7696365 entries, 0 to 7696364
Data columns (total 9 columns):
 #   Column              Dtype
---  ------              -----
 0   last_name           object
 1   first_name          object
 2   middle_name         object
 3   res_street_address  object
 4   res_city_desc       object
 5   state_cd            object
 6   zip_code            float64
 7   birth_age           int64
 8   ncid                object
dtypes: float64(1), int64(1), object(7)
memory usage: 528.5+ MB

In [14]:
df.memory_usage(deep=True)

Index                       128
last_name             488009978
first_name            484950678
middle_name           467005332
res_street_address    600051384
res_city_desc         507363369
state_cd              454080135
zip_code               61570920
age                   523427718
ncid                  496502364
dtype: int64

In [59]:
df.columns

Index(['last_name', 'first_name', 'middle_name', 'res_street_address',
       'res_city_desc', 'state_cd', 'zip_code', 'birth_age', 'ncid'],
      dtype='object')

In [ ]:
['last_name', 'first_name', 'middle_name', 'res_street_address',
       'res_city_desc', 'state_cd', 'zip_code', 'birth_age', 'ncid']

In [16]:
zdf = df.iloc[:, [8,1,0,3,4,6,7]]

In [13]:
for x in df.it:
    print(x)

last_name
first_name
middle_name
res_street_address
res_city_desc
state_cd
zip_code
birth_age
ncid

In [17]:
zdf

,ncid,first_name,last_name,res_street_address,res_city_desc,zip_code,birth_age
0,AA56273,EVELYN,AABEL,4430 E GREENSBORO-CHAPEL HILL RD,GRAHAM,27253,80
1,AA98377,CHRISTINA,AARON,421 WHITT AVE,BURLINGTON,27215,40
2,AA69747,CLAUDIA,AARON,1013 EDITH ST,BURLINGTON,27215,71
3,AA170513,JAMES,AARON,5608 OLD CHEROKEE LN,GRAHAM,27253,68
4,AA91549,NATHAN,AARON,421 WHITT AVE,BURLINGTON,27215,40
5,AA125250,RICHARD,AARON,1013 EDITH ST,BURLINGTON,27215,43
6,AA181361,SANDRA,AARON,1013 EDITH ST,BURLINGTON,27215,41
7,AA71983,WILLIE,AARON,1013 EDITH ST,BURLINGTON,27215,72
8,AA111384,GENA,AARONSON,107 TERRYWOOD CT,HAW RIVER,27258,44
9,AA145641,MICHAEL,AARONSON,107 TERRYWOOD CT,HAW RIVER,27258,54

In [26]:
for i in range(len(zdf)):
    concat_str = ''
    for token in zdf.iloc[i, [1,2]]:
        concat_str+=str(token)
    print(concat_str)

EVELYNAABEL
CHRISTINAAARON
CLAUDIAAARON
JAMESAARON
NATHANAARON
RICHARDAARON
SANDRAAARON
WILLIEAARON
GENAAARONSON
MICHAELAARONSON