In [1]:
import sys
import zipfile
import os
from random import sample 

import numpy as np
import pandas as pd
from IPython.display import display, HTML

sys.path.append("../../libs/")

from datasetutil import gerar_estatiscas_df, substituir_valores_nulos , verify_gg4cc , save_zip2

## Metodos

In [2]:
def read(zinput):
    '''
        Ler zip com os datasets
    '''
    zf = zipfile.ZipFile(zinput) 

    scol = [68,2,10,11,9,28,29,13,14,15,1,16]

    df = pd.read_csv(zf.open(zipfile.ZipFile.namelist(zf)[0]),header=0,
                encoding="iso-8859-1",sep="\t",
                usecols=scol,
    #             chunksize=640000000,
                error_bad_lines=False)#,
#             nrows=15)
    return df.iloc[:, [11,1,3,4,2,9,10,5,6,0,7,8,]]

# df.iloc[:, [68,2,10,11,9,28,29,13,14,15,1,16]]

In [3]:
def gerar_ds(set_a,set_b,n=5000,m=.5):
    '''
    Recupera um conjunto com os ids das entidades que ser√£o utilizadas no 
    conjunto a, conjunto b e gabarito
    
    '''
    
    um = 1 - m
    
    total_m = int(n * m)
    total_um = int(n * um)
    
    inter_ab = list(set_a & set_b)
    
    nb = set_a.difference(inter_ab)
    na = set_b.difference(inter_ab)
    
    matches = sample(inter_ab, total_m)
    unmatch_a = sample(nb, total_um)
    unmatch_b = sample(na, total_um)
    
    return matches + unmatch_a, matches + unmatch_b , matches

In [4]:
def popular_ds(dsa,dsb,list_a,list_b,gab):
    '''
        Monta o dataset com base nas listas
        
        @return dataset a
        @return dataset b
        @return goldstanrd
    '''
    za = dsa[dsa.ncid.isin(list_a)]
    zb = dsb[dsb.ncid.isin(list_b)]

    gs = pd.DataFrame(list(zip(gab)),columns=['id1'])
    gs['id2'] = gs.id1
    return za, zb , gs

def save_all(dsa,dsb,gs,outfile):
    '''
    Salva tudo em um zip
    '''
    
    n_a = dsa.isnull().sum()
    s_a = dsa.describe(include='object')
    n_b = dsb.isnull().sum()
    s_b = dsb.describe(include='object')
    
    sa = gerar_estatiscas_df(n_a,s_a)
    sb = gerar_estatiscas_df(n_b,s_b)
    
    dfa = substituir_valores_nulos(dsa)
    dfb = substituir_valores_nulos(dsb)
    
    save_zip2(dfa,dfb,gs,sa,sb,outfile)

## Leitura dos dados

In [5]:
ds_files = 'D:\Dados\OneDrive\Doutorado\Datasets\\NCVR\\'
fa = 'ncvoter_Statewide_18102016.zip'
fb = 'ncvoter_Statewide_31052020.zip'

In [6]:
a = read(ds_files + fa)

In [7]:
b = read(ds_files + fb)

## gerando os datasets

In [8]:
sa = set(a.ncid.unique())
sb = set(b.ncid.unique())

In [10]:
n = 1700
ds_files = 'D:\Dados\OneDrive\Doutorado\Datasets\\NCVR\\'

prefix = 'ncvoters_'
sufix = '.zip'

for i in [.1,.01]:
    la,lb , gab = gerar_ds(sa,sb,m=i,n=n)
    dsa , dsb , gs = popular_ds(a,b,la,lb,gab)
    of = ds_files + prefix + str(n) +"_"+ str(i)+sufix
    save_all(dsa,dsb,gs,of)
    print(of)

../../libs\datasetutil.py:78: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[c] = df[c].fillna(strrpl)

D:\Dados\OneDrive\Doutorado\Datasets\NCVR\ncvoters_1700_0.1.zip
D:\Dados\OneDrive\Doutorado\Datasets\NCVR\ncvoters_1700_0.01.zip

## Scratch

In [128]:
b[b.ncid == inter_ab[1090]]

,ncid,voter_reg_num,first_name,middle_name,last_name,gender_code,birth_age,res_street_address,res_city_desc,county_desc,state_cd,zip_code
5485994,DE306001,347016,PATIENCE,MARIE,ALLEY,F,22,301 MCCAULEY ST,CHAPEL HILL,ORANGE,NC,27516.0

In [100]:
def

5000

In [102]:
za = a[a.ncid.isin(z)]

In [125]:
m = pd.DataFrame(list(zip(gab)),columns=['id1'])
m['id2'] = m.id1

In [126]:
m

           id1       id2
0     AW150460  AW150460
1       AM5954    AM5954
2     BY646962  BY646962
3     BN472840  BN472840
4     EH196985  EH196985
...        ...       ...
2495  BE263779  BE263779
2496    AR4636    AR4636
2497    DC9586    DC9586
2498   DT32478   DT32478
2499   DZ27310   DZ27310

[2500 rows x 2 columns]