In [14]:
import sys
import zipfile
import os

import numpy as np
import pandas as pd
from IPython.display import display, HTML

sys.path.append("../../libs/")

from datasetutil import gerar_estatiscas_df, substituir_valores_nulos , verify_gg4cc , save_zip

In [15]:

CSS = """
.output {
    flex-direction: row;
}
"""

HTML('<style>{}</style>'.format(CSS))

# Dataset Census 

Felix Nauman

https://hpi.de/naumann/projects/repeatability/datasets/census-dataset.html

In [16]:
ds_files = 'D:\Dados\OneDrive\Doutorado\Datasets\\\hpi.de_naumann\\\census\\'

dsa = 'census.tsv'
gab = 'census_DPL.tsv'
zip_file = 'processed_census.zip'

df = pd.read_csv(ds_files+dsa,header=0,encoding="iso-8859-1",sep="\t")
dfg = pd.read_csv(ds_files+gab,header=0,encoding="iso-8859-1",sep="\t")
#df.info()
# https://hpi.de/naumann/projects/repeatability/datasets/census-dataset.html

## Estatisticas

In [17]:
nan_list = df.isnull().sum()
df['zip_code'] = df['zip_code'].fillna(-1).astype(int)
df['zip_code'] = df['zip_code'].astype(str)
# df.describe(include='all')
estatiscas = df.describe(include='object')
a = gerar_estatiscas_df(nan_list,estatiscas)
a.to_csv(ds_files+'estats_census.csv',sep=';')

Dataset para deduplicação com:

## Problemas nos dados

In [18]:
df.zip_code = df.zip_code.replace('-1','')

In [19]:
df = substituir_valores_nulos(df)

In [20]:
da, db = verify_gg4cc(dfg)

O gabarito não é de um dataset clean-clean

In [21]:
display(da.head(5))
display(db.head(4))

   id1  id2
0    1    2
1    1    3
2    1    4
3    2    3
4    2    4

   id1  id2
1    1    3
2    1    4
3    2    3
4    2    4

## Solução do problema

In [22]:
remover = [3,4,149,150,166,167,43,487,581,582,624,676,698]

In [23]:
dfg

     id1  id2
0      1    2
1      1    3
2      1    4
3      2    3
4      2    4
..   ...  ...
371  837  447
372  838  441
373  839  442
374  840  448
375  841  449

[376 rows x 2 columns]

In [24]:
dfg = dfg[~dfg.id2.isin(remover)]
dfg = dfg[~dfg.id1.isin(remover)]

In [30]:
cdf = df[~df.id.isin(remover)] 
#df.drop(remover)
# len(df),len(cdf)
cdf.zip_code = cdf.zip_code.astype(str)
cdf

      id first_name last_name middle_name street_address zip_code
0      1             ANDERSON                   BASSWOOD     4848
1      2             ANDERSON                   BASSWOOD     4848
4      5      CLARA   AQUENDO           J        STARKEY      666
5      6   LEARONAD   BENITEZ           A        STARKEY      660
6      7     SAMUEL   BENITEZ           R        STARKEY      660
..   ...        ...       ...         ...            ...      ...
836  837     SHERRY   WILLIAM           V      WOODHAVEN      510
837  838      BRYAN    WRIGHT                  WOODHAVEN      307
838  839     MAXINE    WRIGHT           H      WOODHAVEN      307
839  840     CHANSE     YATES           E      WOODHAVEN      403
840  841  ALFREDICA     YATES           S      WOODHAVEN      403

[828 rows x 6 columns]

In [29]:
cdf.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 828 entries, 0 to 840
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              828 non-null    int64
 1   first_name      828 non-null    object
 2   last_name       828 non-null    object
 3   middle_name     828 non-null    object
 4   street_address  828 non-null    object
 5   zip_code        828 non-null    object
dtypes: int64(1), object(5)
memory usage: 45.3+ KB

In [31]:
save_zip(cdf,cdf,dfg,a,ds_files + zip_file)

# Yad Vashem Entity Resolution Project Public Datasets



https://github.com/tomersagi/yv-er

This repository contains datasets made public by the [Yad Vashem](http://www.yadvashem.org) foundation and [Hewlett Packard Labs](http://www.labs.hpe.com/israel/) to be used for Entity Resolution research. 
Data is provided as-is with no guarantees as to its quality and other properties. 

Repository Content
The repository contains two datasets. 

1. A homogeneous dataset comprised of all records having **Italy** as the victim's place of residence. The Dataset contains 9499 records (italy_records.csv) and 12,749 tagged record pairs (italy_pairs.csv). 
2. A stratified random sample of the full Yad Vashem dataset. Six geographical regions where selected from the dataset, each representing a different pre-holocaust Jewish community. Differences were either cultural-linguistic or in the progression of persecution during WWII itself. This dataset contains 100,000 records. 

Record File Structure
Each row in the file corresponds to a record. Fields are delimited by semi-colons. The first field in a row is the unique record-id in the Yad Vashem Names database. The rest are a bag of items prefixed by the item type. Item-types and their prefixes are described in the following table:

Prefix | Item Type | Values
------------ | ------------- | -------------
F | First Name | Disambiguated first name
L | Last Name / Surname | Disambiguated surname
S | Source | Name of submission and submission year for pages of testimony, list name for lists
G | Gender | 0-Male, 1-Female
B1 | Birth Day | Calendar day of birth
B2 | Birth Month | Calendar month of birth
B3 | Birth Year | Calendar year of birth
D1 | Birth Day | Calendar day of death
D2 | Birth Month | Calendar month of death
D3 | Birth Year | Calendar year of death
BP1 | Birth City | Disambiguated city of birth
BP2 | Birth County | Disambiguated county of birth
BP3 | Birth Region | Disambiguated region of birth
BP4 | Birth Country | Disambiguated country of birth
PP1 | Permanent residence City | Disambiguated city of Permanent residence
PP2 | Permanent residence County | Disambiguated county of Permanent residence
PP3 | Permanent residence Region | Disambiguated region of Permanent residence
PP4 | Permanent residence Country | Disambiguated country of Permanent residence
WP1 | War-time residence City | Disambiguated city of War-time residence or Camp name
WP2 | War-time residence County | Disambiguated county of War-time residence
WP3 | War-time residence Region | Disambiguated region of War-time residence
WP4 | War-time residence Country | Disambiguated country of War-time residence
DP1 | Death City | Disambiguated city of death or camp name
DP2 | Death County | Disambiguated county of death
DP3 | Death Region | Disambiguated region of death or camp type
DP4 | Death Country | Disambiguated country of death
FF | Father's First Name | Disambiguated father's first name
MF | Mother's First Name | Disambiguated mother's first name
SN | Spouse's First Name | Disambiguated spouse's first name
MN | Maiden Name | Disambiguated maiden surname
MMN | Mother's Maiden Name | Disambiguated mother's maiden surname
PR | Profession code | Code referring to the profession table (supplied separately)

Record Pairs File Structure
The pairs were tagged by Yad Vashem archival experts with one of the following tags: {1-Yes, 2-Probably Yes, 3-Maybe, 4-Probably No, 5-No}. The tagged pairs are admittedly a subset of the matching pairs in the dataset. We are continuously improving it and adding to the known true matches. Researchers wishing to contribute additional pairs for review by Yad Vashem are invited to do so by submitting an issue. We will make a best-effort attempt at reviewing these suggestions.

## Lendo os dados

In [ ]:
ds_files = 'D:\Dados\OneDrive\Doutorado\Datasets\\\judeus\\\yv-er\\'

dsa = 'italy_records.csv'
gab = 'italy_pairs.csv'
zip_file = 'processed_census.zip'

df = pd.read_csv(ds_files+dsa,encoding="iso-8859-1",sep=";",
                 header=None,error_bad_lines=False)
dfg = pd.read_csv(ds_files+gab,header=None
                  ,encoding="iso-8859-1",sep=",",
                 error_bad_lines=False)

## Tratando os dados

In [ ]:
df = substituir_valores_nulos(df)

In [ ]:
def processar_token(token,texto):
    if texto.startswith(token,0,len(token)):
        return texto.split(token)[1]
    return None

In [ ]:
dados = []
for index, row in df.iterrows():
    id_ = row[0]
    bd = np.nan
    bm = np.nan
    by = np.nan
    
    for attr in row[1:]:
    
        if attr == '':
            pass # valor nulo

        token='G_'
        if attr.startswith(token,0,2):
            if ( attr.split(token)[1] == '1'):
                sexo = 'Female'
            else:
                sexo = 'Male'

        token='S_'
        if (processar_token(token,attr) != None):
            source = processar_token(token,attr)
        
        token='L_'
        if (processar_token(token,attr) != None):
            lastname = processar_token(token,attr)

        token='F_'
        if (processar_token(token,attr) != None):
            firstname = processar_token(token,attr)

        token='B1_'
        if (processar_token(token,attr) != None):
            bd = processar_token(token,attr)

        token='B2_'
        if (processar_token(token,attr) != None):
            bm = processar_token(token,attr)

        token='B3_'
        if (processar_token(token,attr) != None):
            by = processar_token(token,attr)

        token='PP1_'
        if (processar_token(token,attr) != None):
            city = processar_token(token,attr)

        token='PP2_'
        if (processar_token(token,attr) != None):
            county = processar_token(token,attr)

        token='PP3_'
        if (processar_token(token,attr) != None):
            region = processar_token(token,attr) 

        token='PP4_'
        if (processar_token(token,attr) != None):
            country = processar_token(token,attr)

        token='PR_'
        if (processar_token(token,attr) != None):
            prof = processar_token(token,attr)

    # fullbirth = bd + bm + by 
#     print(firstname,lastname,sexo , by , city , county , region , country , prof)

    linha = [ id_, source, firstname, lastname, sexo, bd , bm, by , city , county , region , country , prof]
    dados.append(linha)

In [ ]:
nomes = ['id', 'src','firstname','lastname', 'gender', 'bd' , 'bm', 'by' , 'city' , 'county' , 'region' , 'country' , 'prof']
df = pd.DataFrame(dados,columns=nomes)
nan_list = df.isnull().sum()
estatiscas = df.describe(include='object')
stats = gerar_estatiscas_df(nan_list,estatiscas)
df = substituir_valores_nulos(df)

## Estatisticas

In [ ]:
df

In [ ]:
stats

## Problemas no Gabarito

Não é clean-clean

In [ ]:
da,db = verify_gg4cc(dfg[dfg.c == 1])
display(da)
display(db)

In [ ]:
df.src.unique()

In [ ]:
dfg.columns = ['id1','id2','c']

In [ ]:
display(dfg[dfg.id1 == 3631644])
display(dfg[dfg.id1 == 1004474])
display(dfg[dfg.id1 == 1397428])

In [ ]:
a = list(dfg[dfg.c == 1].id1.unique())
b = list(dfg[dfg.c == 1].id2.unique())

In [ ]:
c=list(set(a+b))
len(c)

## Salvando

In [ ]:
df ,stats